<div class="palm-header logo-header">
	<!-- <img src="images/lol_header_logo.png" alt=""/> -->
	<img src="images/lol_header_logo_sm.png" alt=""/> <span>LOL Directory</span>
</div>
<div class="palm-header-spacer"></div>

<div id="splashScrim" class="palm-scrim">
		<div id="splash" x-mojo-element="Spinner"></div>
</div>

<table class="palm-divider labeled">
  <tr>
    <td class="left"></td>
    <td class="label"><span x-mojo-loc="">Featured</span></td>
    <td class="right"></td>
  </tr>
</table>
<div id="featuredScroller" class="featured-scroller" x-mojo-element="Scroller">
	<div id="featuredMenu" class="featured-container" x-mojo-element="List"></div>
</div>


<div id="allsiteMenu" x-mojo-element="List"></div>