<div class="palm-page-header logo-header">
	<div class="palm-page-header-wrapper logo-wrapper">
		<img src="images/lol_header_logo.png" id="logo" alt=""/>
	</div>
</div>

<div id="splashScrim" class="palm-scrim">
		<div id="splash" x-mojo-element="Spinner"></div>
</div>

<!-- 
<table class="palm-list-section-label">
  <tr>
    <td class="left"></td>
    <td class="label"><span x-mojo-loc="">Most Recents</span></td>
    <td class="right"></td>
  </tr>
</table>
<div id="new_feeds_scroller" class="new-feeds-scroller" x-mojo-element="Scroller">
	<div id="newFeeds" class="new-feeds-container" x-mojo-element="List"></div>
</div>


<table class="palm-list-section-label">
  <tr>
    <td class="left"></td>
    <td class="label"><span x-mojo-loc="">More</span></td>
    <td class="right"></td>
  </tr>
</table>
-->
<div id="listMenu" x-mojo-element="List"></div>

<!-- remove this with official release 
<div id="palm-disclaimer" class="beta"></div>
-->