<div class="palm-header logo-header">
	<img src="images/lol_header_logo_sm.png" alt=""/> <span>Preferences</span>
</div>
<div class="palm-header-spacer"></div>


<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>
		Startup Page
	</div>
	<div class="palm-list">
		<div class="palm-row first last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">                    
				<div id="initFeedSelector" x-mojo-element="ListSelector"></div>                                                             
			</div> 
		</div>                
	</div>
	
</div>

<div id="apply-pref" class="palm-button" x-mojo-touch-feedback="immediatePersistent">Apply Now</div>