<div class="palm-header logo-header">
	<img src="images/lol_header_logo_sm.png" alt=""/> <span>Preferences</span>
</div>
<div class="palm-header-spacer"></div>


<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>
		Startup Page
	</div>
	<div class="palm-list">
		<div class="palm-row first last" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">                    
				<div id="initFeedSelector" x-mojo-element="ListSelector"></div>                                                             
			</div> 
		</div>                
	</div>
</div>


<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>
		Twitter Account
	</div>
	<div class="palm-list">
		<div class="palm-row first last" x-mojo-touch-feedback="delayed" id="twitterSetup">
			<div class="palm-row-wrapper">    
				<div id="twitterAccount" class="twitter-container">
				<!--	<div class="avatar-icon"><img src="" id="avatar-img"/></div> -->
					<div id="avatar-img" class="avatar-set"><div class="avatar-frame"></div></div>
					<div class="names">
						<div id="fullname" class="twitter-fullname"></div>
						<div id="screenname" class="twitter-name"></div>
					</div>     
				</div>
				<div id="twitterNoAccount" class="title"></div>                                                      
			</div> 
		</div>                
	</div>
</div>


<div id="resetAll" class="palm-button negative" x-mojo-touch-feedback="immediatePersistent" x-mojo-loc=''>Reset All</div>