<div class="twitter-header">
	<div class="twitter-header-wrapper">
		<div class="icon twitter"></div>
		<div class="title">
			Authorize Twitter Account
		</div>
	</div>		
</div>

<!-- oAuth -->
<div id="authDisplay">
	<p>To tweet from iCanHasLOL, you need to authorize your account information.</p>
	<div id="auth-button" x-mojo-element="Button"></div>
</div>

<!--
<div id="twitterUserVerified">	
	<p>Your Twitter account is verified!</p>

	<div id="twitterUserInfo">
		<div id="avatar"><img src="" id="avatar-img"/></div>
		<div class="names">
			<div id="fullname"></div>
			<div id="screenname"></div>
		</div>
	</div>
</div>
-->